.untickCircleIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.textDiv {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  display: inline-block;
}
.iconText {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameDiv,
.iconText,
.iconText1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconText1 {
  justify-content: flex-start;
  gap: var(--gap-xs);
  opacity: 0.3;
}
.frameDiv {
  position: absolute;
  top: 118px;
  left: 23px;
  border-radius: var(--br-md);
  border: 1px solid #d0d4da;
  box-sizing: border-box;
  width: 1466px;
  height: 60px;
  padding: var(--padding-xl);
  justify-content: space-between;
}
.arrowLeftIcon {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.frameDiv2 {
  align-self: stretch;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--white);
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.textDiv5 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.frameDiv3 {
  align-self: stretch;
  flex: 1;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.continueToNextStep {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
  display: inline-block;
}
.arrowRightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.frameDiv4,
.frameDiv5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.frameDiv5 {
  border-radius: var(--br-xs);
  background-color: var(--gray-50);
  padding: var(--padding-sm) var(--padding-md);
  gap: var(--gap-xs);
}
.frameDiv4 {
  align-self: stretch;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--white);
  width: 300px;
  flex-shrink: 0;
  padding: var(--padding-xl);
  text-align: center;
  font-size: 14px;
  color: var(--gray-3);
}
.frameDiv1,
.frameDiv8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv1 {
  position: absolute;
  top: 20px;
  left: 23px;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.04);
  width: 1466px;
  height: 80px;
  gap: 0;
  font-size: var(--font-size-base);
}
.frameDiv8 {
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
}
.categoryDiv {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.frameDiv9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.arrowRightIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.5;
}
.moduleDiv {
  border-radius: var(--br-sm);
  background-color: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 606px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameDiv7 {
  gap: var(--gap-lg);
  z-index: 8;
}
.frameDiv10,
.frameDiv12,
.frameDiv13,
.frameDiv16,
.frameDiv7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv12 {
  flex: 1;
  gap: var(--gap-md);
}
.frameDiv10,
.frameDiv13,
.frameDiv16 {
  gap: var(--gap-lg);
  z-index: 7;
}
.frameDiv13,
.frameDiv16 {
  z-index: 6;
}
.frameDiv16 {
  z-index: 5;
}
.frameDiv19 {
  gap: var(--gap-lg);
  z-index: 4;
}
.frameDiv19,
.frameDiv22,
.frameDiv25,
.frameDiv28,
.moduleDiv5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.moduleDiv5 {
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: var(--card-selected);
  border: 1px solid var(--purple);
  box-sizing: border-box;
  width: 606px;
  flex-shrink: 0;
  padding: var(--padding-lg);
  gap: var(--gap-xl);
}
.frameDiv22,
.frameDiv25,
.frameDiv28 {
  gap: var(--gap-lg);
  z-index: 3;
}
.frameDiv25,
.frameDiv28 {
  z-index: 2;
}
.frameDiv28 {
  z-index: 1;
}
.addMoreDiv {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.assessmentDiv,
.frameDiv31 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameDiv31 {
  justify-content: flex-start;
  gap: var(--gap-md);
}
.assessmentDiv {
  border-radius: var(--br-xs);
  border: 1px dashed var(--purple);
  box-sizing: border-box;
  width: 607px;
  padding: var(--padding-md) var(--padding-xl);
  justify-content: space-between;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--purple);
}
.frameDiv6 {
  position: absolute;
  top: 212px;
  left: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  font-size: var(--font-size-base);
  color: var(--gray-1);
}
.mentorDetailsDiv1 {
  position: relative;
  font-size: 24px;
  line-height: 18px;
  font-weight: 500;
  color: var(--gray-1);
  display: inline-block;
  z-index: 0;
}
.rectangleDiv {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--gray-50);
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  z-index: 1;
}
.textDiv6 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  opacity: 0.5;
}
.frameDiv34 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv32,
.frameDiv33,
.frameDiv37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv33 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--field-stroke);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-md);
  gap: var(--gap-sm);
}
.frameDiv32,
.frameDiv37 {
  align-self: stretch;
  gap: var(--gap-lg);
  z-index: 2;
}
.frameDiv37 {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--field-stroke);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-md);
  gap: var(--gap-sm);
  z-index: 3;
}
.imageIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.contentDiv,
.frameDiv39 {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv39 {
  margin: 0 !important;
  top: 125px;
  left: 82px;
  border-radius: 10px;
  background-color: var(--blue);
  flex-direction: row;
  padding: 6px;
  z-index: 4;
}
.contentDiv {
  top: 212px;
  left: 700px;
  border-radius: var(--br-md);
  background-color: var(--white);
  width: 789px;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-lg);
}
.homeDiv {
  position: relative;
  background-color: #f1f4f8;
  width: 100%;
  height: 981px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-family: var(--font-space-grotesk);
}
